@import "tailwindcss";

* {
  font-family: 'Work Sans', sans-serif;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slideUp 0.7s cubic-bezier(0.22, 1, 0.36, 1) both;
}